
/* Inter 폰트 */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
/* 노멀라이징 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
  color: inherit ;
  text-decoration: none ;
}
/* 라이브러리 */
.row::after{
    content: "";
    display: block;
    clear: both;
}
.cell{
    float: left;
}
.cell-r{
    float: right;
}
.con{
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
.img-box{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* 모듈 */
.relative-box{
    position: relative;
}
.w100-box{
    width: 100%;
}
.main-padding-bottom{
    padding-bottom: 31.25%;
}
.sub-padding-bottom{
    padding-bottom: 68.1%;
}
.big-three-padding-bottom{
    padding-bottom: 100%;
}
.banner-padding-bottom{
    padding-bottom: 10.8%;
}
.story-padding-bottom{
    padding-bottom: 56.25%;
}
.event-padding-bottom{
    padding-bottom: 48%;
}
.category-padding-bottom{
    padding-bottom: 100%;
}
.txt-box > h2{
    font-size: 36px;
    margin-bottom: 30px;
}
.txt-box > p{
    font-size: 18px;
}
h3{
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 100px;
}
.label{
    background-color: #ff5647;
    color: white;
    display: inline-block;
    font-size: 11px;
    padding: 7px 9px;
    border-radius: 3px;
    font-weight: bold;
}
.label-free{
    background-color: #fff;
    color: #269cff;
    padding: 5px 7px;
}
.label-orange{
    display: inline-block;
    background-color: #ef894c;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 7px;
}
.ab-top-10{
    position: absolute;
    top: 10px;
}
.ab-left-10{
    position: absolute;
    left: 10px;
}
.ab-horizon-center{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.ab-top-60{
    position: absolute;
    top: 60px;
}
.ab-bottom-20{
    position: absolute;
    bottom: 20px;
}
.ab-top-25{
    position: absolute;
    top: 25px;
}
.ab-left-25{
    position: absolute;
    left: 25px;
}
.ab-top-30{
    position: absolute;
    top: 30px;
}
.ab-left-30{
    position: absolute;
    left: 30px;
}
.ab-bottom-30{
    position: absolute;
    bottom: 30px;
}
.ab-right-30{
    position: absolute;
    right: 30px;
}
.ab-bottom-60{
    position: absolute;
    bottom: 60px;
}
.dots > .dot{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin: 0 4px;
    border-radius: 4px;
    opacity: 0.3;
}
.dots > .dot.active{
    opacity: 1;
    width: 48px;
}
.back-color-red{
    background-color: #fc5d6a;
}
.back-color-green{
    background-color: #4fccb6;
}

/* 스타일 */

/* menu-warp Start */
.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 999;
}
.menu-wrap .logo-box{
    line-height: 88px;
}
.menu-wrap .logo-box > h1 img{
    width: 80px;
}
.menu-wrap .menu-box > li{
    line-height: 88px;
    margin-left: 65px;
    font-size: 15px;
}
.menu-wrap .menu-box > li:first-child{
    width: 70px;
    margin-left: 40px;
}
.menu-wrap .menu-box > li:nth-child(2){
    width: 80px;
}
.menu-wrap .menu-box > li:nth-child(3){
    width: 65px;
    margin-left: 70px;
}
.menu-wrap .menu-box > li:nth-child(4){
    width: 110px;
    margin-left: 80px;
}
.menu-wrap .menu-box > li:nth-child(5){
    margin-left: 70px;
}
.menu-wrap .menu-box li a:hover{
    font-weight: bold;
}
.menu-wrap .menu-box > li > a{
    display: block;
}
.menu-wrap .menu-box > .ya-pit::after{
    content: "";
    display: block;
    background-image: url("../img/nav_yapit.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 18px;
    position: absolute;
    top:15px;
}
.menu-wrap .menu-box > li > ul{
    position: fixed;
    display: none;
}
.menu-wrap .menu-box > li > ul.active{
    display: block;
    z-index: 9;
}
.menu-wrap .menu-box > li > ul > li{
    line-height: 45px;
    letter-spacing: -1px;
}
.menu-wrap .menu-box > li > ul > li:first-child{
    margin-top: 15px;
}
.menu-wrap .user-box{
    line-height: 88px;
}
.menu-wrap .user-box > .cart{
    margin-right: 10px;
}
.menu-wrap .user-box > .cart > a{
    display: inline-block;
    background-image: url("../img/nav_cart.png");
    width: 42px;
    height: 42px;
    margin-bottom: -15px;
}
.menu-wrap .user-box > .login-btn > a{
    background-color: #fded52;
    padding: 9px 18px;
    border-radius: 3px;
    font-size: 14px;
}
.menu-wrap > .nav-back-box{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 295px;
    position: absolute;
    top: 90px;
    left: 0;
    display: none;
    z-index: 8;
}
.menu-wrap > .nav-back-box.active{
    display: block;
}
/* menu-wrap End */

/* main-slider Start */
.main-slider-wrap{
    margin-top: 90px;
}
.main-slider-wrap > .btn-box > .btn{
    width: 47px;
    height: 47px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.main-slider-wrap > .btn-box > .btn > div{
    width: 100%;
    height: 100%;
}
.main-slider-wrap > .btn-box > .btn-prev{
    left: 13%;
}
.main-slider-wrap > .btn-box > .btn-prev > div{
    background-image: url("../img/main_slider_btn_left.png");
}
.main-slider-wrap > .btn-box > .btn-next{
    right: 13%;
}
.main-slider-wrap > .btn-box > .btn-next > div{
    background-image: url("../img/main_slider_btn_right.png");
}
/* main-slider End */

/* university-box Start */
.university-box{
    background-color: #f7f7fc;
    padding: 120px 0 100px 0;
}
.university-box .link-box-wrap{
    margin-top: 80px;
}
.university-box .link-box-wrap > .link-box{
    width: calc((100% - 60px) / 3);
    background-color: #fff;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 16px 0 rgb(0, 0, 0, 0.05);
}
.university-box .link-box-wrap > .link-box:last-child{
    margin-right: 0px;
}
.university-box .link-box-wrap > .link-box > a{
    display: block;
    font-size: 20px;
    padding: 35px 25px;
}
.university-box .float-book{
    background-image: url("../img/main_section_01.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 480px;
    width: 480px;
    height: 320px;
    position: absolute;
    top:-80px;
    right: 0;
}
.arrow-btn{
    width: 40px;
    height: 40px;
    background-color: #fded52;
    border-radius: 50%;
    background-image: url("../img/btn_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    transform: rotate(180deg);
    cursor: pointer;
}
/* university-box End */

/* sub-slider-wrap Start */
.sub-slider{
    margin-right: -15px;
    margin-left: -15px;
}
.sub-slider-wrap > .sub-slider .slick-slide{
    margin-right: 15px;
    margin-left: 15px;
}
.sub-slider-wrap > .sub-slider .content .img-box{
    border-radius: 5px;
}
.sub-slider-wrap > .sub-slider .content .info-box{
    margin-top: 15px;
}
.sub-slider-wrap > .sub-slider .content .info-box > .title{
    font-weight: bold;
    margin-bottom: 5px;
}
.sub-slider-wrap > .sub-slider .content .info-box > .sub-text{
    color: #717188;
    font-size: 14px;
}

/* sub-slider-wrap End */

/* attract-slider-wrap Start */

.attract-slider-wrap{
    margin-top: 110px;
}
.attract-slider-wrap::before{
    display: block;
    content: "";
    width: 100%;
    height: 280px;
    background-color: #000;
    position: absolute;
    margin-top: 40px;
}
.attract-slider .content .attract-image{
    margin: 0 auto;
}
.attract-slider-wrap .dots{
    right: 20%;
}
.attract-slider-wrap .dots > .dot{
    margin: 0 2px;
    opacity: 0.5;
}
.attract-slider-wrap .dots > .dot.active{
    opacity: 1;
    width: 32px;
}

/* attract-slider-wrap End */

/* big-three-slider-wrap Start */
.big-three-slider-wrap > .big-three-slider{
    margin-right: -15px;
    margin-left: -15px;
}
.big-three-slider-wrap > .big-three-slider .slick-track{
    padding-top: 10px;
}
.big-three-slider-wrap > .big-three-slider .content{
    margin-right: 15px;
    margin-left: 15px;
    transition: 0.5s;
}
.big-three-slider-wrap > .big-three-slider .content.active{
    transform: translateY(-10px);
}
.big-three-slider-wrap > .big-three-slider .content .img-box{
    border-radius: 20px 20px 0px 0px;
}
.big-three-slider-wrap > .big-three-slider .content .txt-box{
    padding: 25px;
    color: #fff;
    border-radius: 0px 0px 20px 20px;
}
.big-three-slider-wrap > .big-three-slider .content .txt-box > .type{
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 10px;
}
.big-three-slider-wrap > .big-three-slider .content .txt-box > .txt-info{
    font-weight: bold;
}
.big-three-slider-wrap > .big-three-slider .content .flight-box{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 30px 25px;
    transition: 0.5s;
    top:0;
    left: 0;
    display: none;
}
.big-three-slider-wrap > .big-three-slider .content .flight-box.active{
    display: block;
}
.big-three-slider-wrap > .big-three-slider .content .flight-box > p{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.big-three-slider-wrap > .big-three-slider .content .flight-box > .btn{
    position: absolute;
    bottom: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
}
/* big-three-slider-wrap End */

/* banner-box Start */
.banner-box{
    margin-top: 100px;
}

/* banner-box End */

/* story-slider-wrap Start */
.story-slider-wrap{
    background-color: #f7f7fc;
    padding-top: 1px;
    padding-bottom: 130px;
    margin-top: 100px;
}
.story-slider-wrap > .btn-box > .btn{
    width: 36px;
    height: 36px;
    background-image: url("../img/story_slider_btn.png");
    margin: 0 15px;
    cursor: pointer;
    opacity: 0.2;
}
.story-slider-wrap > .btn-box > .left-btn{
    transform: rotate(180deg);
}
.story-slider-wrap > .btn-box > .btn.active{
    opacity: 1;
}
.story-slider{
    margin-left: -15px;
    margin-right: -15px;
}
.story-slider .slick-slide{
    margin-right: 15px;
    margin-left: 15px;
}
.story-slider .content > .img-box{
    border-radius: 5px;
}
.story-slider .content > .info-box > .title{
    margin-top: 20px;
}
.story-slider .content > .info-box > .title > b{
    font-size: 18px;
    vertical-align: middle;
}
.story-slider .content > .info-box > .desc{
    font-size: 14px;
    margin-top: 7px;
}
/* story-slider-wrap End */

/* event-slider-wrap Start */
.event-slider-wrap{
    margin-bottom: 80px;
}
.event-slider{
    margin-left: -15px;
    margin-right: -15px;
}
.event-slider .slick-slide{
    margin-left: 20px;
    margin-right: 20px;
}
.event-slider .content > .img-box{
    border-radius: 5px;
}
.event-slider .content > .info-box > .title{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.event-slider .content > .info-box > .period{
    color: #a0a0b6;
    font-size: 14px;
    margin-top: 7px;
}
/* event-slider-wrap End */

/* category-slider-wrap Start */

.category-slider-wrap{
    height: 280px;
    background-color: #1a1c20;
}
.category-slider-wrap .category-box{
    padding-top: 80px;
}
.category-slider-wrap .category-box > h4{
    font-weight: normal;
    color: #fff;
    margin-bottom: 15px;
}
.category-slider-wrap .category-box > .category-dots{
    font-weight: bold;
    font-size: 32px;
    color: #626262;
    margin-bottom: 10px;
}
.category-slider-wrap .category-box > .category-dots > .category-dot{
    transition: 0.5s;
}
.category-slider-wrap .category-box > .category-dots > .category-dot.active{
    color: #fff;
}
.category-slider-wrap .category-box > .category-dots > .arrow-btn{
    display: inline-block;
    vertical-align: bottom;
}
.category-slider-wrap .category-slider-floater{
    width: 270px;
    height: 270px;
}
.category-slider .slick-slide{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* category-slider-wrap End */

/* footer Start */
.footer{
    padding-top: 60px;
    padding-bottom: 80px;
}
.footer .footer-top > .logo-box{
    margin-top: 15px;
}
.footer .footer-top > .logo-box > img{
    width: 102px;
}
.footer .footer-top > .footer-nav-box > li{
    margin-left: 150px;
}
.footer .footer-top > .footer-nav-box > li:first-child{
    margin-left: 0;
}
.footer .footer-top > .footer-nav-box > li > a{
    font-weight: bold;
}
.footer .footer-top > .footer-nav-box > li a{
    line-height: 50px;
}
.footer .footer-top > .footer-nav-box > li > ul > li{
    font-size: 14px;
}

.footer .footer-middle > .qna-box > .title{
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 10px;
}
.footer .footer-middle > .qna-box > .guidance{
    font-size: 12px;
    color: #a0a0b6;
    line-height: 23px;
}
.footer .footer-middle > .qna-box > .link-box{
    margin-top: 60px;
    font-size: 13px;
}
.footer .footer-middle > .external-link-box{
    position: absolute;
    right: 0;
    bottom: 0;
}
.footer .footer-middle > .external-link-box > select{
    appearance: none;
    width: 150px;
    padding: 11px 15px 9px;
    font-weight: bold;
    margin-bottom: 60px;
    border: 1px solid #e7e7f0;
    font-size: 12px;
    
}
.footer .footer-middle > .external-link-box > .ex-link-list > li{
    margin-left: 5px;
    margin-right: 5px;
}
.footer .footer-middle > .external-link-box > .ex-link-list > li:nth-child(2){
    margin-right: 30px;
}
.footer .footer-middle > .external-link-box > .ex-link-list > li > a > img{
    width: 28px;
    height: 28px;
}
.footer .footer-bottom {
    margin-top: 30px;
    font-size: 12px;
    color: #a0a0b6;
    line-height: 18px;
}
/* footer End */


/* mobile-version Start */

/* mo-menu-wrap Start */
.mo-menu-wrap > .mo-menu-box,
.mo-menu-wrap > .mo-user-box{
    line-height: 54px;
}
.mo-menu-wrap a > img{
    vertical-align: middle;
}
.mo-menu-box .mo-menu-btn > img{
    width: 25px;
}
.mo-menu-box .mo-logo{
    margin-left: 20px;
}
.mo-menu-box .mo-logo > img{
    height: 15px;
}
.mo-user-box img{
    width: 25px;
    height: 25px;
}
/* mo-menu-wrap End */

/* mo-nav-wrap Start */
.mo-nav-wrap{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
}
.mo-nav-wrap.active{
    display: block;
}
.mo-nav-wrap > .mo-background-box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.mo-nav-wrap > .mo-background-box > .mo-close-btn{
    position: absolute;
    top: 50%;
    right: 7.5%;
    width: 35px;
    height: 35px;
}
.mo-nav-wrap > .mo-nav-box{
    position: fixed;
    width: 80%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    overflow-y: scroll;
    z-index: 1001;
    padding-top: 40px;
}
.mo-nav-wrap > .mo-nav-box .logo{
    margin-left: 20px;
}
.mo-nav-wrap > .mo-nav-box .logo > img{
    width: 70px;
}
.mo-nav-wrap > .mo-nav-box > ul{
    margin-top: 10px;
}
.mo-nav-wrap > .mo-nav-box > ul a:hover{
    font-weight: bold;
}
.mo-nav-wrap > .mo-nav-box > ul > li > a{
    display: block;
    padding: 20px 30px;
    position: relative;
}
.mo-nav-wrap > .mo-nav-box > ul > li > a::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url("../img/mo_nav_dropdown.png");
    background-size: cover;
}
.mo-nav-wrap > .mo-nav-box > ul > li.active > a{
    font-weight: bold;
}
.mo-nav-wrap > .mo-nav-box > ul > li.active > a::after{
    transform: translateY(-50%) rotate(180deg);
}
.mo-nav-wrap > .mo-nav-box > ul > li > ul{
    padding: 10px 40px;
    background-color: #f7f7fc;
    display: none;
}
.mo-nav-wrap > .mo-nav-box > ul > li > ul.active{
    display: block;
}
.mo-nav-wrap > .mo-nav-box > ul > li > ul > li{
    font-size: 13px;
    letter-spacing: -1px;
}
.mo-nav-wrap > .mo-nav-box > ul > li > ul > li > a{
    display: block;
    padding: 9px 0;
}
.mo-nav-wrap > .mo-nav-box .ya-pit::after{
    content: "";
    display: block;
    background-image: url("../img/nav_yapit.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 14px;
    position: absolute;
    top: 6px;
    left: 30px;
}
.mo-nav-wrap > .mo-nav-box > .btn-box{
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
.mo-nav-wrap > .mo-nav-box > .btn-box > .join-btn > a{
    display: block;
    border:1px solid #cfcfda;
    padding: 15px 0;
    margin-bottom: 10px;
}
.mo-nav-wrap > .mo-nav-box > .btn-box > .login-btn > a{
    display: block;
    border:1px solid #fded52;
    background-color: #fded52;
    padding: 15px 0;
}
.mo-nav-wrap > .mo-nav-box > .app-download{
    padding-left: 20px;
    margin-top: 70px;
}
.mo-nav-wrap > .mo-nav-box > .app-download > p{
    font-weight: bold;
    margin-bottom: 15px;
}
.mo-nav-wrap > .mo-nav-box > .app-download > a{
    margin-right: 20px;
}
.mo-nav-wrap > .mo-nav-box > .app-download > a > img{
    width: 50px;
    height: 50px;
}
/* mo-nav-wrap End */

.pc-version{
    display: block;
}
.mo-version{
    display: none;
}

@media screen and (max-width:1080px){
    .pc-version{
        display: none;
    }
    .mo-version{
        display: block;
    }
    .con{
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-slider-wrap{
        margin-top: 54px;
    }
    .main-padding-bottom{
        padding-bottom: 80%;
    }
    .main-slider-wrap > .dots{
        bottom: 20px;
    }
    .dots > .dot.active{
        opacity: 1;
        width: 24px;
    }
    .university-box{
        padding: 50px 0 50px 0;
    }
    .university-box .float-book{
        display: none;
    }
    .university-box .txt-box{
        text-align: center;
    }
    .university-box .txt-box > h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .university-box .txt-box > p{
        font-size: 12px;
    }
    .university-box .link-box-wrap{
        margin-top: 40px;
    }
    .university-box .link-box-wrap > .link-box{
        width: calc((100% - 30px) / 3);
        margin-right: 10px;
    }
    .university-box .link-box-wrap > .link-box > a{
        font-size: 12px;
        padding: 15px 10px 40px 15px;
    }
    .arrow-btn{
        width: 20px;
        height: 20px;
        background-size: 5px;
        bottom: 10px;
        right: 10px;
    }
    h3{
        font-size: 18px;
        margin-top: 55px;
        margin-bottom: 20px;
    }
    .sub-slider-wrap > .sub-slider{
        margin-left: -4px;
        margin-right: -4px;
    }
    .sub-slider-wrap > .sub-slider .slick-slide{
        margin-left: 4px;
        margin-right: 4px;
    }
    .sub-slider-wrap > .sub-slider .content .img-box{
        border-radius: 2px;
    }
    .sub-slider-wrap > .sub-slider .content .info-box{
        margin-top: 5px;
    }
    .sub-slider-wrap > .sub-slider .content .info-box > .title{
        font-size: 14px;
        margin-bottom: 2px;
    }
    .sub-slider-wrap > .sub-slider .content .info-box > .sub-text{
        font-size: 12px;
    }
    .label{
        font-size: 10px;
        padding: 3px 4px;
        border-radius: 1px;
    }
    .ab-top-10{
        top: 6px;
    }
    .ab-left-10{
        left: 6px;
    }
    .attract-slider-wrap{
        margin-top: 40px;
    }
    .attract-padding-bottom{
        padding-bottom: 74.6%;
    }
    .attract-slider-wrap::before{
        display: none;
    }
    .attract-slider .content .attract-image.pc-version{
        display: none;
    }
    .attract-slider-wrap .dots{
        left: 20px;
        top: auto;
        bottom: 20px;
    }
    .attract-slider-wrap .dots > .dot{
        width: 6px;
        height: 6px;
    }
    .attract-slider-wrap .dots > .dot.active{
        width: 24px;
    }
}


/* mobile-version End */