
/* Inter 폰트 */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
/* 노멀라이징 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
  color: inherit ;
  text-decoration: none ;
}
/* 라이브러리 */
.row::after{
    content: "";
    display: block;
    clear: both;
}
.cell{
    float: left;
}
.cell-r{
    float: right;
}
.con{
    max-width: 1200px;
    margin: 0 auto;
}
.img-box{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* 모듈 */
.relative-box{
    position: relative;
}
.w100-box{
    width: 100%;
}
.mar-top-90{
    margin-top: 90px;
}
.main-padding-bottom{
    padding-bottom: 31.25%;
}
.sub-padding-bottom{
    padding-bottom: 68.1%;
}
.attract-padding-bottom{
    padding-bottom: 26.8%;
}
.big-three-padding-bottom{
    padding-bottom: 100%;
}
.banner-padding-bottom{
    padding-bottom: 10.8%;
}
.story-padding-bottom{
    padding-bottom: 56.25%;
}
.txt-box > h2{
    font-size: 36px;
    margin-bottom: 30px;
}
.txt-box > p{
    font-size: 18px;
}
h3{
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 100px;
}
.label{
    background-color: #ff5647;
    color: white;
    display: inline-block;
    font-size: 11px;
    padding: 7px 9px;
    border-radius: 3px;
    font-weight: bold;
}
.label-free{
    background-color: #fff;
    color: #269cff;
    padding: 5px 7px;
}
.label-orange{
    display: inline-block;
    background-color: #ef894c;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 7px;
}
.ab-top-10{
    position: absolute;
    top: 10px;
}
.ab-left-10{
    position: absolute;
    left: 10px;
}
.ab-horizon-center{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.ab-top-60{
    position: absolute;
    top: 60px;
}
.ab-top-25{
    position: absolute;
    top: 25px;
}
.ab-left-25{
    position: absolute;
    left: 25px;
}
.ab-top-30{
    position: absolute;
    top: 30px;
}
.ab-left-30{
    position: absolute;
    left: 30px;
}
.ab-bottom-30{
    position: absolute;
    bottom: 30px;
}
.ab-right-30{
    position: absolute;
    right: 30px;
}
.dots > .dot{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin: 0 4px;
    border-radius: 4px;
    opacity: 0.3;
}
.dots > .dot.active{
    opacity: 1;
    width: 48px;
}
.back-color-red{
    background-color: #fc5d6a;
}
.back-color-green{
    background-color: #4fccb6;
}

/* 스타일 */

/* menu-warp Start */
.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 999;
}
.menu-wrap .logo-box{
    line-height: 88px;
}
.menu-wrap .logo-box > h1 img{
    width: 80px;
}
.menu-wrap .menu-box > li{
    line-height: 88px;
    margin-left: 65px;
    font-size: 15px;
}
.menu-wrap .menu-box > li:first-child{
    width: 70px;
    margin-left: 40px;
}
.menu-wrap .menu-box > li:nth-child(2){
    width: 80px;
}
.menu-wrap .menu-box > li:nth-child(3){
    width: 65px;
    margin-left: 70px;
}
.menu-wrap .menu-box > li:nth-child(4){
    width: 110px;
    margin-left: 80px;
}
.menu-wrap .menu-box > li:nth-child(5){
    margin-left: 70px;
}
.menu-wrap .menu-box li a:hover{
    font-weight: bold;
}
.menu-wrap .menu-box > li > a{
    display: block;
}
.menu-wrap .menu-box > .ya-pit::after{
    content: "";
    display: block;
    background-image: url("../img/nav_yapit.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 18px;
    position: absolute;
    top:15px;
}
.menu-wrap .menu-box > li > ul{
    position: fixed;
    display: none;
}
.menu-wrap .menu-box > li > ul.active{
    display: block;
    z-index: 9;
}
.menu-wrap .menu-box > li > ul > li{
    line-height: 45px;
    letter-spacing: -1px;
}
.menu-wrap .menu-box > li > ul > li:first-child{
    margin-top: 15px;
}
.menu-wrap .user-box{
    line-height: 88px;
}
.menu-wrap .user-box > .cart{
    margin-right: 10px;
}
.menu-wrap .user-box > .cart > a{
    display: inline-block;
    background-image: url("../img/nav_cart.png");
    width: 42px;
    height: 42px;
    margin-bottom: -15px;
}
.menu-wrap .user-box > .login-btn > a{
    background-color: #fded52;
    padding: 9px 18px;
    border-radius: 3px;
    font-size: 14px;
}
.menu-wrap > .nav-back-box{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 295px;
    position: absolute;
    top: 90px;
    left: 0;
    display: none;
    z-index: 8;
}
.menu-wrap > .nav-back-box.active{
    display: block;
}
/* menu-wrap End */

/* main-slider Start */
.main-slider-wrap > .btn-box > .btn{
    width: 47px;
    height: 47px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.main-slider-wrap > .btn-box > .btn > div{
    width: 100%;
    height: 100%;
}
.main-slider-wrap > .btn-box > .btn-prev{
    left: 13%;
}
.main-slider-wrap > .btn-box > .btn-prev > div{
    background-image: url("../img/main_slider_btn_left.png");
}
.main-slider-wrap > .btn-box > .btn-next{
    right: 13%;
}
.main-slider-wrap > .btn-box > .btn-next > div{
    background-image: url("../img/main_slider_btn_right.png");
}
/* main-slider End */

/* university-box Start */
.university-box{
    background-color: #f7f7fc;
    padding: 120px 0 100px 0;
}
.university-box .link-box-wrap{
    margin-top: 80px;
}
.university-box .link-box-wrap > .link-box{
    width: calc((100% - 60px) / 3);
    background-color: #fff;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 16px 0 rgb(0, 0, 0, 0.05);
}
.university-box .link-box-wrap > .link-box:last-child{
    margin-right: 0px;
}
.university-box .link-box-wrap > .link-box > a{
    display: block;
    font-size: 20px;
    padding: 35px 25px;
}
.university-box .float-book{
    background-image: url("../img/main_section_01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 480px;
    width: 480px;
    height: 320px;
    position: absolute;
    top:-70px;
    right: -30px;
}
.arrow-btn{
    width: 40px;
    height: 40px;
    background-color: #fded52;
    position: absolute;
    border-radius: 50%;
    background-image: url("../img/btn_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    transform: rotate(180deg);
    bottom: 20px;
    right: 30px;
}
/* university-box End */

/* sub-slider-wrap Start */
.sub-slider-wrap > .sub-slider .slick-track{
    width: 100% !important;
}
.sub-slider-wrap > .sub-slider .slick-slide{
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}
.sub-slider-wrap > .sub-slider .slick-slide:last-child{
    margin-right: 0px;
}
.sub-slider-wrap > .sub-slider .content .img-box{
    border-radius: 5px;
}
.sub-slider-wrap > .sub-slider .content .info-box{
    margin-top: 15px;
}
.sub-slider-wrap > .sub-slider .content .info-box > .title{
    font-weight: bold;
    margin-bottom: 5px;
}
.sub-slider-wrap > .sub-slider .content .info-box > .sub-text{
    color: #717188;
    font-size: 14px;
}

/* sub-slider-wrap End */

/* attract-slider-wrap Start */

.attract-slider-wrap{
    margin-top: 110px;
}
.attract-slider-wrap::before{
    display: block;
    content: "";
    width: 100%;
    height: 282px;
    background-color: #000;
    position: absolute;
    margin-top: 40px;
}
.attract-slider-wrap .dots > .dot{
    margin: 0 2px;
    opacity: 0.5;
}
.attract-slider-wrap .dots > .dot.active{
    opacity: 1;
    width: 32px;
}

/* attract-slider-wrap End */

/* big-three-slider-wrap Start */
.big-three-slider-wrap > .big-three-slider .slick-track{
    padding-top: 10px;
    width: 100% !important;
}
.big-three-slider-wrap > .big-three-slider .content{
    margin-right: 30px;
    transition: 0.5s;
    width: calc((100% - 60px) / 3);
}
.big-three-slider-wrap > .big-three-slider .content.active{
    transform: translateY(-10px);
}
.big-three-slider-wrap > .big-three-slider .content:last-child{
    margin-right: 0;
}
.big-three-slider-wrap > .big-three-slider .content .img-box{
    border-radius: 20px 20px 0px 0px;
}
.big-three-slider-wrap > .big-three-slider .content .txt-box{
    padding: 25px;
    color: #fff;
    border-radius: 0px 0px 20px 20px;
}
.big-three-slider-wrap > .big-three-slider .content .txt-box > .type{
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 10px;
}
.big-three-slider-wrap > .big-three-slider .content .txt-box > .txt-info{
    font-weight: bold;
}
.big-three-slider-wrap > .big-three-slider .content .flight-box{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 30px 25px;
    transition: 0.5s;
    top:0;
    left: 0;
    display: none;
}
.big-three-slider-wrap > .big-three-slider .content .flight-box.active{
    display: block;
}
.big-three-slider-wrap > .big-three-slider .content .flight-box > p{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.big-three-slider-wrap > .big-three-slider .content .flight-box > .btn{
    position: absolute;
    bottom: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
}
/* big-three-slider-wrap End */

/* banner-box Start */
.banner-box{
    margin-top: 100px;
}

/* banner-box End */

/* story-slider-wrap Start */
.story-slider-wrap{
    background-color: #f7f7fc;
    padding-top: 1px;
    padding-bottom: 100px;
    margin-top: 100px;
}
.story-slider-wrap > .btn-box > .btn{
    width: 36px;
    height: 36px;
    background-image: url("../img/story_slider_btn.png");
    margin: 0 15px;
    cursor: pointer;
    opacity: 0.2;
}
.story-slider-wrap > .btn-box > .left-btn{
    transform: rotate(180deg);
}
.story-slider-wrap > .btn-box > .btn.active{
    opacity: 1;
}
.story-slider .slick-slide{
    margin-right: 30px;
}
.story-slider .slick-slide:last-child{
    margin-right: 0;
}
.story-slider .content > .img-box{
    border-radius: 5px;
}
.story-slider .content > .info-box > .title{
    margin-top: 20px;
}
.story-slider .content > .info-box > .title > b{
    font-size: 18px;
    vertical-align: middle;
}
.story-slider .content > .info-box > .desc{
    font-size: 14px;
    margin-top: 7px;
}
/* story-slider-wrap End */