
/* Inter 폰트 */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
/* 노멀라이징 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
  color: inherit ;
  text-decoration: none ;
}
/* 라이브러리 */
.row::after{
    content: "";
    display: block;
    clear: both;
}
.cell{
    float: left;
}
.cell-r{
    float: right;
}
.con{
    max-width: 1200px;
    margin: 0 auto;
}
.img-box{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* 모듈 */
.relative-box{
    position: relative;
}
.w100-box{
    width: 100%;
}
.mar-top-90{
    margin-top: 90px;
}
.main-padding-bottom{
    padding-bottom: 31.25%;
}
/* 스타일 */
/* menu-warp Start */
.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding-left: 30px;
    padding-right: 30px;
}
.menu-wrap .logo-box{
    line-height: 88px;
}
.menu-wrap .logo-box > h1 img{
    width: 80px;
}
.menu-wrap .menu-box > li{
    line-height: 88px;
    margin-left: 65px;
    font-size: 15px;
}
.menu-wrap .menu-box > li:first-child{
    width: 70px;
    margin-left: 40px;
}
.menu-wrap .menu-box > li:nth-child(2){
    width: 80px;
}
.menu-wrap .menu-box > li:nth-child(3){
    width: 65px;
    margin-left: 70px;
}
.menu-wrap .menu-box > li:nth-child(4){
    width: 110px;
    margin-left: 80px;
}
.menu-wrap .menu-box > li:nth-child(5){
    margin-left: 70px;
}
.menu-wrap .menu-box li a:hover{
    font-weight: bold;
}
.menu-wrap .menu-box > li > a{
    display: block;
}
.menu-wrap .menu-box > .ya-pit::after{
    content: "";
    display: block;
    background-image: url("../img/nav_yapit.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 18px;
    position: absolute;
    top:15px;
}
.menu-wrap .menu-box > li > ul{
    position: fixed;
    display: none;
}
.menu-wrap .menu-box > li > ul.active{
    display: block;
    z-index: 9;
}
.menu-wrap .menu-box > li > ul > li{
    line-height: 45px;
    letter-spacing: -1px;
}
.menu-wrap .menu-box > li > ul > li:first-child{
    margin-top: 15px;
}
.menu-wrap .user-box{
    line-height: 88px;
    padding-right: 10px;
}
.menu-wrap .user-box > .cart{
    margin-right: 10px;
}
.menu-wrap .user-box > .cart > a{
    display: inline-block;
    background-image: url("../img/nav_cart.png");
    width: 42px;
    height: 42px;
    margin-bottom: -15px;
}
.menu-wrap .user-box > .login-btn > a{
    background-color: #fded52;
    padding: 9px 18px;
    border-radius: 3px;
    font-size: 14px;
}
.menu-wrap > .nav-back-box{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 295px;
    position: absolute;
    top: 90px;
    left: 0;
    display: none;
    z-index: 8;
}
.menu-wrap > .nav-back-box.active{
    display: block;
}
/* menu-wrap End */